<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="display.css">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="data.js"></script>
</head>
<body>
  <div id="app">
    <div class="timeline-container">
      <div id="timeline-header">{{ pgTitle }}</div>
      <timeline :items="timeline"></timeline>
    </div>
    <span class="copy">
      Based on an example from <a :href="bRef">{{ bRef }}</a>
    </span>
  </div>
  <script src="timeline.js"></script>
</body>
</html>
