var saison = "{{ team }} Interclub {{ saison }}"
var matchList=[
{% for match in matchlist %}
  {
    id: "{{ match.ID }}",
    title: '{{ match.ROUND }} - {{ match.DESC }}',
    created: "{{ match.DATE }}",
    place: "{{ match.LOC }}",
    url: "{{ match.URL }}",
    players: '{{ match.PRESENT_LIST|join(', ')|replace(caplogin+',','')|replace(caplogin,'')}}',
    substitute: '{{ match.SUBSTITUTE_LIST |join(', ')|replace(caplogin+',','')|replace(caplogin,'')}}',
{% if match.DATE < now %}
    element_day_marker: "past",
    element_status: "",
{% else %}
{% if match.PRESENT_LIST[0]|string == caplogin %}
    element_status: "main_element",
{% endif %}
{% endif %}
{% if match.DESC.startswith('BCBE') %}
    icon_class: "glyphicon glyphicon-home",
{% else %}
    icon_class: "glyphicon glyphicon-road",
{% endif %}
    controls: [],

{% if match.ERROR|length > 0 %}
    error: "{{ match.ERROR|join('|') }}",
    icon_status: "warning",
    action_needed: "pulse_wrap"
{% else %}
    icon_status: "success",
    action_needed: ""
{% endif %}
  },
{% endfor %}
]
